<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proyecto.css">
    <title>Mi primer proyecto</title>
</head>
<body>
</head>
<body>
    <header class="headerIndex">  
    <ul class="ul1" >
        <li>
        <button class="btn15"><img class="imgIndex" src="/Imagenes/icono.png" alt=""></button> 
        <ul class="dropdown" >
            <li><a class="aIndex" href=""> Primera Opción </a></li>
            <li><a class="aIndex" href=""> Segunda Opción </a></li>
            <li><a class="aIndex" href=""> Tercera Opción </a></li>
            <li><a class="aIndex" href=""> Cuarta Opción </a></li>
            <li><a class="aIndex" href=""> Quinta Opción </a></li>
        </ul>
        </li>   
    </ul>       
    <div class="divIndex"> 
        <input class="inputIndex" type="" placeholder="Buscar..."> <button class="btn16" > <img class="imgIndex2" src="/Imagenes/lupa.png""> </button>
    </div>
    </header>
    <button class="btn20"> <a href="/index.html"> Ir al inicio </a></button>
<form class="formP8" action="">
<div class="divMainP8">
    <div class="divImg" >
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
        <img class="imgP8" src="/Imagenes/camara.png" alt="">
    </div>
    <div>
        <h1 class="tituloP8" > Pedido # </h1>
        <label class="labelP8" for=""> Valor total </label> <label  for="">$50.000 </label><br>
        <label class="label2P8" for=""> Cantidad productos </label> <label for=""> 10</label><br>
        <label for=""> Distribuidor </label> <button class="btn21" > Servientrega </button><br>
        <label for=""> Número de rastreo </label>
        <button class="btn21" > 54345DA3453ADA332 </button>
    </div>
</div>
</form>
<form class="formP8" action="">
    <div class="divMainP8">
        <div class="divImg" >
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
            <img class="imgP8" src="/Imagenes/camara.png" alt="">
        </div>
        <div>
            <h1 class="tituloP8" > Pedido # </h1>
            <label class="labelP8" for=""> Valor total </label> <label  for="">$50.000 </label><br>
            <label class="label2P8" for=""> Cantidad productos </label> <label for=""> 10</label><br>
            <label for=""> Distribuidor </label> <button class="btn21" > Servientrega </button><br>
            <label for=""> Número de rastreo </label>
            <button class="btn21" > 54345DA3453ADA332 </button>
        </div>
    </div>
</form>
<h3 class="mapa" >Mapa de navegación</h3>
    <footer> 
        <div class="divfooter" >
            <br><label class="acerca" for="">Acerca de</label>
            <br><a href="/index.html"> Inicio </a>
            <br><a href="login.html"> Inicio de sesión </a>
        </div>
        <div class="divfooter" >
            <br><label for=""> Vendedor </label>
            <br><a href="ingresoProducto.html"> Ingrese producto nuevo </a>
            <br><a href="PagoVendedor.html"> Metodos de pago </a>
            <br><a href="pagoUsuario.html"> Confirmación pagos </a>
        </div>
        <div class="divfooter" >
            <br><label for=""> Redes sociales </label>
            <br><a href="https://www.x.com/"> X </a>
            <br><a href="https://www.facebook.com/"> Facebook </a>
            <br><a href="https://www.instagram.com/"> Instagram </a>
            <br><a href="https://www.youtube.com/"> YouTube </a>
        </div>
        <div class="divfooter" >
            <br><label for=""> Clientes </label>
            <br><a href="confirmacionDatos.html"> Datos de entrega </a>
            <br><a href="registro.html"> Registrarse </a>
        </div>
    </footer>
    
</body>
</html>