<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proyecto.css">
    <title>Mi primer proyecto</title>
</head>
<body>
<header>
    <h3>My project</h3>
    <h2> Inicio de sesión </h2> 
</header>
<div class="anchoAlerta">
    <div th:if="${param.logout}">
        <div class="logout">
            Ha cerrado sesion exitosamente
        </div>
    </div>
    <div th:if="${param.error}">
        <div class="error">
            Usuario o contraseña invalidos
        </div>
    </div>
</div>
    <form th:action="@{/login}" method="post" class="form1" >
        <p><label for="username" class="label2" > Ingrese correo electronico </label></p>
        <input id="username" name="username" class="inputp2" type="email" placeholder="minombre@miproyecto.com" required autofocus="autofocus">
        <p><label for="password" class="label2" > Contraseña </label></p>
        <input id="password" name="password" class="inputp2" type="password" placeholder="*************" required autofocus="autofocus" >
        <p id="incorrecto" ></p>
        <br><input type="submit" id="login-submit" class="btn2" value="Ingresar"/>
        <span class="aRedireccion" >¿Nuevo Usuario?<a th:href="@{/registro}" class="aRedireccion text"> Registrate</a></span>
    </form>
<h3 class="mapa" >Mapa de navegación</h3>
<footer> 
    <div class="divfooter" >
        <br><label class="acerca" for="">Acerca de</label>
        <br><a href="/index.html"> Inicio </a>
        <br><a href="login.html"> Inicio de sesión </a>
    </div>
    <div class="divfooter" >
        <br><label for=""> Vendedor </label>
        <br><a href="ingresoProducto.html"> Ingrese producto nuevo </a>
        <br><a href="PagoVendedor.html"> Metodos de pago </a>
        <br><a href="pagoUsuario.html"> Confirmación pagos </a>
    </div>
    <div class="divfooter" >
        <br><label for=""> Redes sociales </label>
        <br><a href="https://www.x.com/"> X </a>
        <br><a href="https://www.facebook.com/"> Facebook </a>
        <br><a href="https://www.instagram.com/"> Instagram </a>
        <br><a href="https://www.youtube.com/"> YouTube </a>
    </div>
    <div class="divfooter" >
        <br><label for=""> Clientes </label>
        <br><a href="confirmacionDatos.html"> Datos de entrega </a>
        <br><a href="registro.html"> Registrarse </a>
    </div>
</footer>
<!-- <script src="/js/proyecto.js"></script> -->
</body>
</html>